doctype html
html(lang="en")
    include includes/head
    script(src="/js/vestUpload.js")

    body
        include includes/navbar

        .bg-1
            .container.white-list
                .row.text-center
                    .line
                        h1.float-center.d-inline-block НАША ПРОДУКЦИЯ

                    for image in images
                        .col-sm-4.vest-wrapper
                            a(href='/vest/' + image.id)
                                img.vest-image(src=image.path)
                            p.font-weight-bold.text-center.d-inline-block.pl-4= image.originalname
                            strong.circle
                                span.circle-text= image.price

                        if !images.length
                            p Не найдено ни одного жилета

                .row
                    .pagination.mx-auto.pt-4
                        a#prevPage.btn.btn-lg.btn-outline-dark.mr-1(href=prevPage)
                            i.fas.fa-arrow-circle-left.fa-2x.prev-page
                        a#nextPage.btn.btn-lg.btn-outline-dark.ml-1(href=nextPage)
                            i.fas.fa-arrow-circle-right.fa-2x

            #modalVest.modal.fade
                .modal-dialog
                    .modal-content
                        .modal-header
                            h4.modal-title Загрузка нового жилета
                            button.button.close(data-dismiss="modal") &times;
                        .modal-body
                            form#VestForm(action="/uploadPhoto" method="POST" enctype="multipart/form-data")
                                .input-group
                                    label.input-group-btn
                                        span.btn.btn-primary.btn-lg Выбрать
                                            input(type="file" style="display: none" name="myimage")
                                    input.form-control(type="text" readonly)
                                label.btn.btn-success.btn-file.mt-3
                                    span Отправить
                                    input(type="submit" name="myimage" value="submit" style="display: none")
                        .modal-footer
                            button.button.btn.btn-danger(data-dismiss="modal") Закрыть





        include includes/footer

    script.
        $('#VestForm').submit(function() {
            $('#modalVest').modal('hide');
        })

        var prevPage = #{current} - 1
        var nextPage = #{current} + 1
        var prevPageHref = '/product/' + prevPage
        var nextPageHref = '/product/' + nextPage
        var count = #{pages}
        var isNext = count >= nextPage
        var isPrev = 1 <= prevPage

        if (!isNext) {
            document.getElementById('nextPage').className += " disabled";
        }

        if (!isPrev) {
            document.getElementById('prevPage').className += " disabled";
        }

        var x = document.getElementById('prevPage')
        var y = document.getElementById('nextPage')
        x.setAttribute('href', prevPageHref)
        y.setAttribute('href', nextPageHref)


