doctype html
html(lang="en")
    include includes/head
    script(src="/js/editVest.js")
    link(href="/css/vest.css" rel="stylesheet")

    body
        include includes/navbar

        .bg-1
            .container.white-list
                .row
                    .col-sm-6
                        img(src=image.path style="width: 100%;")
                        if user && user.local.role === 'admin'
                            .editPriceTmplWrapper
                                .edit-inp.d-none.form-inline
                                    form(action=updatePriceLink method="POST")
                                        .input-group
                                            input.form-control.form-control-lg(placeholder='Сумма' size="5" name="price")
                                            .input-group-btn
                                                button.form-control.btn.btn-success ОК
                                            input(hidden value=image.id name="id")

                                .editPriceTmpl
                                    strong.circle-big
                                        .circle-text-big
                                            span= image.price
                                            span &nbspруб.
                        else
                            .priceTmplWrapper
                                .editPriceTmpl
                                    strong.circle-big
                                        .circle-text-big
                                            span= image.price
                                            span &nbspруб.


                    .col-sm-6
                        #desc-container
                            if user && user.local.role === 'admin'
                                form(action=updateDescription method="POST")
                                    input(hidden value=image.id name="id")
                                    button#editDescBtn.btn.btn-secondary.float-right.ml-2(type="button")
                                        i.fa.fa-pencil-alt.fa-2x
                                    button#applyDescBtn.btn.btn-success.float-right.d-none
                                        i.fa.fa-check.fa-2x

                                    #editTmpl.d-none
                                        .col-sm-9
                                            input#editHeader.form-control.form-control-lg(name="headerText" value=image.originalname)
                                        .col-sm-12.mt-3
                                            textarea#editComposition.form-control.form-control-lg(name="description" rows=10)=image.description
                                        .mt-3.form-inline
                                            .form-group
                                                label(for="vestID") Номер жилета: &nbsp
                                                input.col-sm-2#editID.form-control.form-control-lg(name="vestID" value=image.vestID)




                            #viewTmpl
                                h1#descHeaderInp.text-left= image.originalname
                                pre#CompInp.d-inline= image.description
                                span#serial= image.serial

                        .row
                            .pagination.mx-auto.pt-4
                                a#prevPage.btn.btn-lg.btn-outline-dark.mr-1(href=image.serial - 1 class=isFirstVest ? 'invisible' : 'visible')
                                    i.fas.fa-arrow-circle-left.fa-2x.prev-page

                                a#homePage.btn.btn-lg.btn-outline-dark(href="/product/1")
                                    i.fas.fa-home.fa-2x

                                a#nextPage.btn.btn-lg.btn-outline-dark.ml-1(href=image.serial + 1 class=isLastVest ? 'invisible' : 'visible')
                                    i.fas.fa-arrow-circle-right.fa-2x



        include includes/footer






